[Desktop Entry]
Version=1.0
Type=Application
Name=BricsCAD
Comment=BricsCAD CAD Software
Exec=/home/osmar/Apps/bc/bricscad.sh %f
Icon=/home/osmar/Apps/bc/bricscad.png
Terminal=false
Categories=Graphics;Engineering;2DGraphics;3DGraphics;
MimeType=application/x-dwg;application/acad;application/autocad_dwg;image/vnd.dwg;
StartupNotify=true
