[Desktop Entry]
Version=1.0
Type=Application
Name=ORGMOS Gestor de Paquetes
Comment=Gestor de paquetes TUI para Arch Linux usando yay
Exec=orgmos_pacman
Icon=package
Terminal=true
Categories=System;PackageManager;
Keywords=package;manager;yay;pacman;aur;



