[Desktop Entry]
Version=1.0
Type=Application
Name=ORGMOS Modo Juego
Comment=Toggle game mode to optimize system resources
Exec=kitty -e %h/.config/i3/scripts/game-mode.sh
Icon=applications-games
Categories=System;Game;Settings;
Keywords=game;gaming;performance;optimization;orgmos;
NoDisplay=false
StartupNotify=true
Terminal=false

